@font-face {
  font-family: "intelone-mono-font-family-regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/intelone-mono-font-family-regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

.text {
  font-family: "Her-Leeoksun";
}

#stars {
  width: 100%;
  height: 100vh;
  background: linear-gradient(#4682a9, #749bc2, #91c8e4, #f6f3f3);
  overflow: hidden;
  position: relative;
  animation: fadeIn 3s ease-in-out;
}

#stars.dark-mode {
  background: linear-gradient(#393053, #443c68, #635985);
}

.star {
  width: 2px;
  height: 2px;
  background: yellow;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.3;
  animation: twinkle 2s infinite;
}

.circle {
  position: relative;
  top: 50%;
  left: 50%;
  width: 311px;
  height: 311px;
  background: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffa732;
  z-index: 1;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5),
    inset 0px -10px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s ease-in-out;
  animation: moonOpacity 1s infinite, moveCircle 15s linear infinite;
}

.circle.dark-mode {
  background-color: #ffcd4b;
}

.text-box {
  position: absolute; /* 절대 위치로 변경 */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 부모 요소인 .circle의 가운데 정렬 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.text {
  white-space: nowrap;
  overflow: hidden;
  transition: width 2s;
  z-index: 1;
  padding: 100px;
  font-size: 50px;
}

.Typewriter__wrapper {
  font-size: 30px;
}

@keyframes moonOpacity {
  0%,
  100% {
    opacity: 1;
  }
  25% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.7;
  }
  75% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveRabbit {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  25% {
    transform: translateX(20px) rotate(10deg);
  }
  50% {
    transform: translateX(-20px) rotate(-10deg);
  }
  75% {
    transform: translateX(20px) rotate(10deg);
  }
  100% {
    transform: translateX(0) rotate(0deg);
  }
}

@keyframes moveCircle {
  0% {
    transform: translate(-50%, -50%) translateX(0) rotate(0deg);
  }
  25% {
    transform: translate(-50%, -50%) translateX(20px) rotate(10deg);
  }
  50% {
    transform: translate(-50%, -50%) translateX(-20px) rotate(-10deg);
  }
  75% {
    transform: translate(-50%, -50%) translateX(20px) rotate(10deg);
  }
  100% {
    transform: translate(-50%, -50%) translateX(0) rotate(0deg);
  }
}

.rabbit {
  animation: moveRabbit 15s linear infinite;
}
@keyframes twinkle {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
